
.clearfix:before,
.clearfix:after{
  content: " ";
  display: table;
}
.clearfix:after { 
  clear: both;
}

.hidden, .pi-hidden{
    display: none !important;
}
.entry-header, .entry-content, .entry-summary, .entry-meta{
    max-width: 1024px !important;
}

.pi_lightbox_wrapper{ 
    width: 100%;
    height: auto;
}

.pi-gallery-lighbox{
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
.pi_center{
    text-align: center;
}

.masonryContainer {
    /*float: left;*/
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 3;
    z-index:3;
    /*float:left;*/
    width:100%;
    height:100%;
    margin-bottom: 10px;
}

.isotope-item .pi-hover
{
    visibility:hidden;
    height: 100%;
    bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    
    background: rgba(0, 0, 0, 0.1);
}

.masonryContainer .pirates:hover .pi-hover{
    visibility:visible;
    left:0px;
    bottom: 0px;
    
    background: rgba(0, 0, 0, 0.8);
    
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

/*#masonryContainer .mix { 
    opacity: 0;
    display: none;
}
#*/
.masonryContainer .pirates{
    /*margin-top: 10px;*/
}
.pi-loadmorewrap{
    text-align: center;
    padding: 10px 0;
}

.pi_container_mixup .nav_filter{
    width:100%;
    text-align:center;
    position:relative;
    z-index:1;
    padding:10px 0;
    margin-top:30px;
    margin-bottom:30px;
}
.pi_container_mixup .nav_filter .pi_filters {
    position:relative;
    margin:10px auto 10px;
    /*max-width:350px;*/
    border-radius:6px;
    padding:8px 0;
    /*border-bottom:4px solid #ccc;*/
} 

.pi_container_mixup .nav_filter .pi_filters:before{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 8px;
    left: 10px;
    width: 50%;
    top: 70%;
    max-width:200px;
    /*background: #777;*/
}

.pi_container_mixup .nav_filter .filter{
    display:inline-block;
    border: 1px solid #e3e9e9;
    margin: 3px;
    border-radius: 2px;
    color: #586266;
    font-size: 15px;
    text-transform: none;
    box-sizing: content-box;
    padding:6px 10px;
    cursor:pointer;
    font-weight:700;    
    position:relative;
}


.pi_container_mixup .nav_filter .filter:hover, .pi_container_mixup .nav_filter .filter:focus, .pi_container_mixup .nav_filter .filter.active{
     background-color: #5cb85c;
     border-color: #5cb85c;
     color: #fff;
}

.pi_container_mixup .nav_filter li.actcat, #options li:hover{
    color:#666;
}

.masonryContainer{
    text-align: center;
}
.masonryContainer .pirates {
    display:inline-block;
    position:relative;
    z-index:1;
    /*margin: 10px;*/
    right: 0;
}
.masonryContainer .pirates  a {
    position: relative;
    height: 100%;
    display: inline-block;
    width: 100%;
}
.pirates  a + a {
    display: none;
}

/*.popup-gallery */

.pi_owl_one img {
    width: 100%;
    display: block;
    vertical-align: middle;
}

.masonryContainer .popup-gallery img {
    max-width: 100%;
    height: auto;
}
.pi_container_mixup .isotope .isotope-item {
    text-align: center;
}

/*Writting*/
/*.pi-html{
    background: none repeat scroll 0 0 #fff;
    padding: 40px;
    width: 96%;
}
*/
.ps-scrollbar-x,
.ps-scrollbar-y-rail {
    display: none;
    opacity: 0;
}
.pi-html{
    margin: 0 3px 0 0;
    padding: 0 20px;
    max-height: 500px;
    overflow: hidden;
    position: relative;
}
@media (max-width: 767px) {
    .pi-html {
        max-height: 350px;
    }
}
@media (max-width: 639px) {
    .pi-html {
        max-height: 260px;
    }
}

.pi-html .pi-media-block
{
    float: left;
    margin: 0 30px 0 0;
    max-width: 880px;
    text-align: center;
    width: 55%;
}

.pi-html .pi-right-block
{
    float: left;
    width: 40%;
}

.pi-container{
    /*width: 95%;*/
    margin: 0px auto;
    background:none repeat scroll 0 0 rgba(0, 0, 0, 0.04) !important; 
}

/*Custom heigt*/
/*.pi_custom_height.pi_owl_one .owl-wrapper-outer, .pi_custom_height.pi_owl_one .owl-wrapper, .pi_custom_height.pi_owl_one .owl-item{
    height: 100% !important;
}*/

div.featured-box{
    margin: 0 auto !important;
}

.pi-body.container-fluid h1, h2, h3 , h4, h5, h6
{
   font-weight: 700; 
   line-height: 1.3em;
}
.pi_writting.mfp-ready{
    background-color: rgba(0,0,0,.5);
}
.pi-body.container-fluid h1, h2, h3 , h4, h5, h6, p{
    margin-bottom: 20px !important;
    font-family: "Open Sans",Arial,sans-serif;
    padding: 0;
}

.pi-body.container-fluid p{
    font-size: 14px;
    line-height: 25px;
}

.pi-header{
    padding-bottom: 40px;
}
.pi_display_writting .pi-header .owl-buttons{
    margin: -27px auto 0;
    position: absolute;
    top: 46%;
    width: 100%;
    z-index: 20;
}


@media screen and (min-width: 1200px) {
    .pi_display_writting
    {
        max-width: 1170px;
    }
}

@media screen and (max-width: 767px){
    .pi-html .pi-media-block,
    .pi-html .pi-right-block  {
        width: 100%;
        float: none;
    }
}


.pi-owltheme.owl-demo .owl-controls .owl-buttons div{
    background: none repeat scroll 0 0 #869791;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    opacity: 0.5;
    padding: 3px 10px;
    line-height: 22px;
}
.pi-owltheme.owl-demo .owl-controls.clickable .owl-buttons div:hover
{
    opacity: 1;
}

.pi_display_writting .pi-header  .owl-buttons .owl-prev{
   background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 54px;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 38px;
    background: url("../img/left.png") no-repeat  7px 8px rgba(0, 0, 0, 0);
    text-indent: -999px;
}

.pi_display_writting .pi-header .owl-next{
    border-radius: 0 !important; 
    background-position: center center;
    background-repeat: no-repeat;
    display: block !important;
    height: 54px;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 38px;
    right: 0;
    background: url("../img/right.png") no-repeat  7px 8px rgba(0, 0, 0, 0) !important;
    text-indent: 999px;
}
.pi_display_writting .owl-pagination
{
    text-align: center;
}

/*Button*/
.pi-loadmore
{
    text-align: center;
}
.btn-success
{
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
    background-image: none;
}
.btn-success:hover, .btn-success:focus 
{
    background-color: #449d44;
    background-image: none !important;
    border-color: #398439;
    color: #fff;
    z-index: 2;
}
/*Pagination and Navigation*/

.owl-pagination .owl-page
{
    display: inline-block;
}

.owl-controls .owl-page span 
{
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
.owl-page.active > span
{
    opacity: 1;
}


.pi_owl_one .owl-controls .owl-buttons div, .pi_owl_nav_pag .owl-controls .owl-buttons div {
    background: none repeat scroll 0 0 #869791;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    opacity: 0.5;
    padding: 3px 10px;
}

.pi_owl_nav_pag .owl-controls .owl-buttons div:hover, .pi_owl_one .owl-controls .owl-buttons div:hover{
    opacity: 1;
}

.pi-header .owl-next:hover, .pi-header .owl-prev:hover{
    background-color: rgba(30, 30, 30, 0.9) !important;
}


/*Create a post case*/
.pi_display_writting {
    margin: auto;
    position: relative;
}

.pi_display_writting .pi-wrap-content {
    width: 100%;
    background-color: #FFF;
    padding: 20px 0;
}

.pi_display_writting  .mfp-close{
    color: #fff;
    left: 100%;
    top: -14px;
}

.mfp-content .mfp-figure .mfp-close{
    background: none;
}

.pi_display_writting  .mfp-close:hover, .pi_display_writting  .mfp-close:focus  {
    background: transparent !important;
    border-radius: 0;
}
.pi-button {
    position: relative;
}
.pi-button .mfp-close {
    position: absolute;
    top: -32px;
    right: -30px;
    left: auto;
    color: #fff;
}
/*Menu Slider*/
.pi_owl_nav_pag .owl-item img{
    width: 100%;
}

 

@media only screen  and (max-width : 980px) {
    
    .pi_display_writting .mfp-close 
    {
        /*background: none repeat scroll 0 0 rgb(0, 0, 0);*/
        color: white;
        display: inline-block;
        left: 95%;
        position: fixed;
        top: 40px;
    }
}

@media only screen  and (max-width : 980px) {
    .pi_display_writting{
        margin: 80px auto auto;
    }
    .pi_display_writting .mfp-close 
    {
        /*background: none repeat scroll 0 0 rgb(0, 0, 0);*/
        color: white;
        display: inline-block;
        left: 95%;
        position: fixed;
        top: 40px;
    }
}

@media only screen  and (max-width : 320px) {
    .pi_display_writting .mfp-close 
    {
        left: 88%;
    }
}



/*Theme Overlay*/

.pi-container .theme-wrap 
{
    background: none repeat scroll 0 0 #fff;
    bottom: 3%;
    box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    clear: both;
    left: 190px;
    position: fixed;
    right: 30px;
    top: 9%;
    z-index: 20;
}
.pi-container .theme-wrap:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.pi-container .theme-wrap {
    background: none repeat scroll 0 0 #fff;
    bottom: 3%;
    box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    clear: both;
    left: 190px;
    position: fixed;
    right: 30px;
    top: 9%;
    z-index: 20;
}

.pi-container .theme-about {
    bottom: 57px;
    left: 0;
    overflow: auto;
    padding: 2% 4%;
    position: absolute;
    right: 0;
    top: 49px;
}
.pi-container .theme-about:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.pi-container .theme-actions {
    background: none repeat scroll 0 0 #f3f3f3;
    border-top: 1px solid #eee;
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    padding: 10px 25px 5px;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 30;
}

.pi-container .theme-screenshots {
    float: left;
    margin: 0 30px 0 0;
    max-width: 880px;
    text-align: center;
    width: 55%;
}

.pi-container .theme-info {
    float: left;
    width: 40%;
}

.pi-container .theme-header .close:before 
{
    color: #777;
    content: "ïŒµ";
    display: inline-block;
    font: 22px/50px "dashicons" !important;
}

/*Edit*/
.pi-gallery-edit{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.md-popup-inner-footer .button-large{
    padding: 6px 10px;
}

.picolor .wp-color-result, .picolor .wp-color-result:after{
    text-decoration: none;
}

.pi-editing{
    background-color: red; 
}
.btn{display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;}